<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        InfiniteHub
    </title>

    <link rel="icon" href="/static/assets/img/brand/icon.ico" type="image/ico">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="background-svg">

<div class="main-content">

    {% include "includes/navigation-fullscreen.html" %}

    <!-- Header -->
    <div class="header py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <h1 class="img-box img-contain mb-md--3 mb-sm--3 mb--3 mb-lg-0">
                            <a target="_blank" class=""
                               href="https://www.infinitefoundry.com">
                                <img src="/static/assets/img/logo/0.75x/center-logo-dark-bg@0.75x.png">
                            </a>
                        </h1>
                        <p class="text-lead text-light">
                            Open-Source Founder's Hub - Coded by <a target="_blank" class="text-white" href="https://www.infinitefoundry.com">Infinite
                            Foundry</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100"></div>
    </div>

    {% block content %}{% endblock content %}

    {% include "includes/footer-fullscreen.html" %}

</div>

{% include "includes/scripts.html" %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}

<script src="/static/assets/js/argon.js?v=1.2.0"></script>

</body>

</html>
