{% extends 'layouts/base.html' %}

{% block title %} Balance {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .tabcontent {
            animation: fadeEffect 1s;
        }

        @keyframes fadeEffect {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header bg-primary" style="padding-bottom: 6rem">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="">Financial</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'balance_page' %}">Balance</a></li>
                                <li class="breadcrumb-item active"></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: -6rem">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-gradient-success border-0 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Inputs</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-1"><i class="fa fa-arrow-up mr-2"></i>0</span>
                                <span class="text-nowrap text-white">This month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-gradient-danger border-0 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Outputs</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="fas fa-donate"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-1"><i class="fa fa-arrow-down mr-2"></i>0</span>
                                <span class="text-nowrap text-white">This month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-gradient-info border-0 mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Balance</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="fas fa-wallet"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-1"><i class="fa fa-chart-bar mr-2"></i>0</span>
                                <span class="text-nowrap text-white">This month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card bg-gradient-default border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Clients</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-1"><i class="fa fa-arrow-up mr-2"></i>0</span>
                                <span class="text-nowrap text-white">This month</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-2">
        <div class="row">

            <!-- Bills Card -->
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="my-1">Bills</h4>
                            </div>
                            <div class="col-3 text-right btn-group my-1" role="group">
                                <button type="button" class="btn btn-sm btn-neutral tablinksBills"
                                        onclick="openBills(event, 'receive')" id="defaultOpenBills">
                                    Receive
                                </button>
                                <button type="button" class="btn btn-sm btn-neutral tablinksBills"
                                        onclick="openBills(event, 'pay')">
                                    Pay
                                </button>
                            </div>
                            <div class="text-right mx-3 my-1">
                                <button type="button" class="btn btn-sm btn-neutral">
                                    <i class="fas fa-filter"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal"
                                        data-target="#newBillModal">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" style="min-height: 25rem; max-height: 25rem; overflow-y: auto;">

                        <div id="receive" class="tabcontent">

                        </div>
                        <div id="pay" class="tabcontent">

                        </div>

                    </div>
                    <div class="card-footer border-top-0 py-2"></div>
                </div>
            </div>

            <!-- Highlights Card -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="my-1">Featured customers</h4>
                            </div>
                            <div class="col-5 text-right btn-group my-1" role="group">
                                <button type="button" class="btn btn-sm btn-neutral tablinksHighlights"
                                        onclick="openHighlights(event, 'earnings')" id="defaultOpenHighlights">
                                    Earnings
                                </button>
                                <button type="button" class="btn btn-sm btn-neutral tablinksHighlights"
                                        onclick="openHighlights(event, 'spent')">
                                    Spent
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 25rem; max-height: 25rem;">
                        <div id="earnings" class="tabcontent">

                        </div>
                        <div id="spent" class="tabcontent">

                        </div>

                    </div>
                    <div class="card-footer py-2 border-top-0"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid my-1">
        <div class="row">

            <!-- Reports Card -->
            <div class="col-lg-8">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4 class="mb-0">Last reports</h4>
                            </div>
                            <div class="text-right mr-3">
                                <button type="button" class="btn btn-sm btn-primary">
                                    <span>See all</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0" style="min-height: 25rem; max-height: 25rem; overflow-y: auto;">

                    </div>
                    <div class="card-footer py-2 border-top-0"></div>
                </div>
            </div>

            <!-- Reports Chart -->
            <div class="col-lg-4">

            </div>

        </div>
    </div>

    <div class="container-fluid">
        {% include "includes/footer.html" %}
    </div>

    <!--New Bill Modal -->
    <div class="modal fade" id="newBillModal" tabindex="-1" role="dialog"
         aria-labelledby="newBillModalLabel" aria-hidden="true">
        <div class="modal-dialog my-6" role="document">
            <div class="modal-content">
                <div class="modal-header mt-2 align-items-center">
                    <h5 class="modal-title" style="margin-left: auto">
                        <i class="fas fa-plus text-blue" style="font-size: 1rem"></i>
                    </h5>
                    <span class="ml-3 my-1" style="margin-right: auto; font-size: 1.2rem"
                          id="newPageModalLabel">Bills</span>
                    <button type="button" class="close mt--4" style="margin-left: -30px"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-0" style="padding-left: 2.5rem; padding-right: 2.5rem">

                    <div class="row mb-3">
                        <div class="col-6 btn-group" style="margin: auto" role="group">
                            <button type="button" class="btn btn-sm btn-neutral text-green tablinksBillsModal"
                                    onclick="openBillsModal(event, 'bills-to-receive')" id="defaultOpenBillsModal">
                                To receive
                            </button>
                            <button type="button" class="btn btn-sm btn-neutral text-red tablinksBillsModal"
                                    onclick="openBillsModal(event, 'bills-to-pay')">
                                To pay
                            </button>
                        </div>
                    </div>

                    <div id="bills-to-receive" class="tabcontent">

                        <form id="newBillReceiveForm" method="post" action="">
                            {% csrf_token %}

                            <div class="form-group form-control-label mb-3">
                                <label for="beneficiary">Beneficiary</label>
                                <select class="form-control" id="beneficiary" name="bill_beneficiary">
                                    <option value="if-br">Infinite Foundry Brasil</option>
                                    <option value="if-pt">Infinite Foundry Portugal</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col form-group form-control-label mb-3">
                                    <label for="category">Category</label>
                                    <select class="form-control" id="category" name="bill_category">
                                        <option value="int-earn">Interest earned</option>
                                        <option value="cap-pay">Capital payment</option>
                                        <option value="inc-inv">Income from investments</option>
                                        <option value="sales">Sales</option>
                                        <option value="eq-sales">Equipment sales</option>
                                    </select>
                                </div>
                                <div class="col form-group form-control-label">
                                    <label for="billValueInput">Value</label>
                                    <input inputmode="decimal" class="form-control"
                                           id="billValueInput"
                                           name="bill_value" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group form-control-label">
                                    <label for="billFeesInput">Fees</label>
                                    <input inputmode="decimal" class="form-control"
                                           id="billFeesInput"
                                           name="bill_fees" placeholder="">
                                </div>
                                <div class="col form-group form-control-label">
                                    <label for="billDiscountInput">Discount</label>
                                    <input inputmode="decimal" class="form-control"
                                           id="billDiscountInput"
                                           name="bill_discount" placeholder="">
                                </div>
                            </div>
                            <div class="form-group form-control-label">
                                <label for="billTotalInput">Total</label>
                                <input inputmode="decimal" class="form-control"
                                       id="billTotalInput"
                                       name="bill_total" placeholder="">
                            </div>
                            <div class="row">
                                <div class="col form-group form-control-label">
                                    <label for="billMethodInput">Method</label>
                                    <select class="form-control" id="billMethodInput" name="bill_method">
                                        <option value="bank-slip">Bank slip</option>
                                        <option value="pix">Pix</option>
                                        <option value="transfer">Transfer</option>
                                    </select>
                                </div>
                                <div class="col form-group form-control-label">
                                    <label for="billDueDateInput">Due date</label>
                                    <input type="date" class="form-control"
                                           id="billDueDateInput"
                                           name="bill_due_date" placeholder="">
                                </div>
                            </div>

                            <hr style="margin-bottom: 2rem; margin-top: 1rem">

                            <div class="form-group form-control-label align-items-center" style="display: flex">
                                <label class="mb-0 mr-3">Installments</label>
                                <label class="custom-toggle">
                                    <input type="checkbox" checked="">
                                    <span class="custom-toggle-slider rounded-circle" data-label-off="No"
                                          data-label-on="Yes"></span>
                                </label>
                            </div>

                            <div class="row">
                                <div class="col-3 form-group form-control-label">
                                    <label for="billInstallmentsNumberMethodInput">Nº</label>
                                    <select class="form-control" id="billInstallmentsNumberMethodInput"
                                            name="bill_installments_method">
                                        <option value="1">1x</option>
                                        <option value="2">2x</option>
                                        <option value="3">3x</option>
                                        <option value="4">4x</option>
                                        <option value="5">5x</option>
                                        <option value="6">6x</option>
                                        <option value="7">7x</option>
                                        <option value="8">8x</option>
                                        <option value="9">9x</option>
                                        <option value="10">10x</option>
                                        <option value="11">11x</option>
                                        <option value="12">12x</option>
                                        <option value="13">13x</option>
                                        <option value="14">14x</option>
                                        <option value="15">15x</option>
                                        <option value="16">16x</option>
                                        <option value="17">17x</option>
                                        <option value="18">18x</option>
                                        <option value="19">19x</option>
                                        <option value="20">20x</option>
                                        <option value="21">21x</option>
                                        <option value="22">22x</option>
                                        <option value="23">23x</option>
                                        <option value="24">24x</option>
                                    </select>
                                </div>
                                <div class="col form-group form-control-label">
                                    <label for="billInstallmentsValueInput">Value</label>
                                    <input inputmode="decimal" class="form-control"
                                           id="billInstallmentsValueInput"
                                           name="bill_installments_value" placeholder="">
                                </div>
                            </div>

                            <hr style="margin-bottom: 2rem; margin-top: 1rem">

                            <div class="form-group form-control-label">
                                <label for="fileInput">Attach proof</label>
                                <input type="file" name="file" class="form-control-file"
                                       id="fileInput"
                                       onchange="previewExtension(event); enableButtonsFile(); updateCategory(event)">
                            </div>
                            <div class="form-group form-control-label">
                                <label for="about">Description</label>
                                <textarea rows="4" class="form-control" id="about" name="bill_description"
                                          placeholder="A few words about ..."></textarea>
                            </div>

                        </form>

                        <div class="modal-footer px-0 pt-2">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="createButton" form="newBillReceiveForm"
                                    disabled>Submit
                            </button>
                        </div>

                    </div>

                    <div id="bills-to-pay" class="tabcontent">

                        <form id="newBillPayForm" method="post" action="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-8 form-group form-control-label mb-3">
                                    <label for="local">Local</label>
                                    <select class="form-control" id="local" name="bill_pay_local">
                                        <option value="if-br">Infinite Foundry Brasil</option>
                                        <option value="if-pt">Infinite Foundry Portugal</option>
                                    </select>
                                </div>
                                <div class="col form-group form-control-label mb-3">
                                    <label for="category">Category</label>
                                    <select class="form-control" id="category" name="bill_pay_category">
                                        <option value="bank-exp">Bank</option>
                                        <option value="maintenance-exp">Maintenance</option>
                                        <option value="financial-exp">Financial</option>
                                        <option value="taxes-exp">Taxes</option>
                                        <option value="staff-exp">Staff</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group form-control-label">
                                    <label for="billValueInput">Value</label>
                                    <input inputmode="decimal" class="form-control"
                                           id="billValueInput"
                                           name="bill_pay_value" placeholder="">
                                </div>
                                <div class="col form-group form-control-label">
                                    <label for="billPayDateInput">Date</label>
                                    <input type="date" class="form-control"
                                           id="billPayDateInput"
                                           name="bill_pay_date" placeholder="">
                                </div>
                            </div>
                            <hr style="margin-bottom: 2rem; margin-top: 1rem">

                            <div class="form-group form-control-label">
                                <label for="fileInput">Attach proof</label>
                                <input type="file" name="file" class="form-control-file"
                                       id="fileInput"
                                       onchange="previewExtension(event); enableButtonsFile(); updateCategory(event)">
                            </div>
                            <div class="form-group form-control-label">
                                <label for="about">Description</label>
                                <textarea rows="4" class="form-control" id="about" name="bill_pay_description"
                                          placeholder="A few words about ..."></textarea>
                            </div>
                        </form>

                        <div class="modal-footer px-0 pt-2">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="createButton" form="newBillPayForm"
                                    disabled>Submit
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

    <script>

        function openBills(evt, mode) {
            // Declare all variables
            let i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                if (tabcontent[i].id === "pay" || tabcontent[i].id === "receive") {
                    tabcontent[i].style.display = "none";
                }
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinksBills");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("btn-primary", "btn-neutral");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(mode).style.display = "block";
            evt.currentTarget.className = evt.currentTarget.className.replace("btn-neutral", "btn-primary");
        }

        function openBillsModal(evt, mode) {
            // Declare all variables
            let i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                if (tabcontent[i].id === "bills-to-pay" || tabcontent[i].id === "bills-to-receive") {
                    tabcontent[i].style.display = "none";
                }
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinksBillsModal");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("btn-success text-white", "btn-neutral text-green");
                tablinks[i].className = tablinks[i].className.replace("btn-danger text-white", "btn-neutral text-red");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(mode).style.display = "block";
            evt.currentTarget.className = evt.currentTarget.className.replace("btn-neutral text-green", "btn-success text-white");
            evt.currentTarget.className = evt.currentTarget.className.replace("btn-neutral text-red", "btn-danger text-white");
        }

        function openHighlights(evt, mode) {
            // Declare all variables
            let i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                if (tabcontent[i].id === "earnings" || tabcontent[i].id === "spent") {
                    tabcontent[i].style.display = "none";
                }
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinksHighlights");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace("btn-primary", "btn-neutral");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(mode).style.display = "block";
            evt.currentTarget.className = evt.currentTarget.className.replace("btn-neutral", "btn-primary");
        }

        document.getElementById("defaultOpenHighlights").click();
        document.getElementById("defaultOpenBills").click();
        document.getElementById("defaultOpenBillsModal").click();

    </script>

{% endblock javascripts %}
