{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
    
    {% load filters %}

    <!-- Header -->
    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 600px">
        <!-- Mask -->
        <span class="mask profile-background-svg"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row mb-9">
                <div class="col-lg-7 col-md-10 col-sm-9 col-8 ml-lg-6 ml-4">
                    <h1 class="display-2 text-white">
                        Hello!
                    </h1>
                    <h1 class="display-3 text-white">
                        {{ user_profile.user.first_name }},
                        <p class="text-white mt-0 mb-5">
                            This is your profile page.
                            You can see the progress you've made
                            with your work and manage your personal informations.
                        </p>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Page content -->
    <div class="container-fluid" style="margin-top: -17rem">
        <div class="row">
            <div class="col-xl-4 order-xl-1">
                <!-- Profile Picture Card -->
                <div class="card card-profile">
                    <div class="row mx-0 my-3">
                        <div class="col text-right">
                            <a class="btn btn-sm btn-neutral" href="{% url 'edit_profile' %}"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-5 pt-5">
                        <div class="col-lg-12">
                            <div class="card-profile-image"
                                 style="background-color: #adb5bd00">
                                <a href="#" data-toggle="modal" data-target="#profilePictureModal">
                                    <img class="rounded-circle"
                                         style="min-width: 180px; height: 180px; object-fit: cover; background-color: #fff; z-index: 1"
                                         src="{{ user_profile.avatar.url }}"
                                         alt="{{ user_profile.user.first_name }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-6 pb-2">
                                        <div class="pb-2">
                                        {% if user_profile.user.username|check_group:'admin' %}
                                            <small class="badge badge-md badge-danger">Admin</small>
                                        {% endif %}
                                        {% if user_profile.user.username|check_group:'collaborator' %}
                                            <small class="badge badge-md badge-info">Collaborator</small>
                                        {% else %}
                                            <small class="badge badge-md badge-primary">External</small>
                                        {% endif %}
                                        {% if user_profile.user.username|check_group:'finance' %}
                                            <small class="badge badge-md badge-warning">Financial</small>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h5 class="h3 title py-3">
                                    <span>{{ user_profile.user.get_full_name }}</span>
                                    <small class="d-block h5 font-weight-light text-muted">{{ user_profile.position|default:'' }}</small>
                                </h5>
                                <div class="h5 mt-2">
                                    {{ user_profile.user.username }}
                                </div>
                                {% if user_profile.phone %}
                                    <div class="h5 font-weight-300 mt--2 pb-2">
                                        {{ user_profile.phone }}
                                    </div>
                                {% endif %}
                                <div class="h5 font-weight-400">
                                    {% if user_profile.street != '' and user_profile.city != '' and user_profile.state != '' and user_profile.country != '' %}
                                        <div><i class="fas fa-map-marker-alt mr-1 text-black-50"></i>
                                            {{ user_profile.street }}, {{ user_profile.street_number }}
                                            - {{ user_profile.city }}, {{ user_profile.state }}, {{ user_profile.country }}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if user_profile.about != '' %}
                                    <div class="h4 font-weight-500 my-3 mb-3 py-4">
                                        <i>"{{ user_profile.about }}"</i>
                                    </div>
                                {% else %}
                                    <div class="py-3"></div>
                                {% endif %}
    
                                {#                            <div class="row justify-content-center" style="position: absolute; bottom:3rem; width: calc(100% - 11px - 2.5rem);">#}
                                {#                                <div class="col-1 px-0 mx-1">#}
                                {#                                    <a href="" target="_blank" data-toggle="tooltip" data-original-title="Facebook">#}
                                {#                                        <i class="fab fa-facebook-square"></i>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                                {#                                <div class="col-1 px-0 mx-1">#}
                                {#                                    <a href="" target="_blank" data-toggle="tooltip" data-original-title="Twitter">#}
                                {#                                        <i class="fab fa-twitter-square"></i>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                                {#                                <div class="col-1 px-0 mx-1">#}
                                {#                                    <a href="" target="_blank" data-toggle="tooltip" data-original-title="Instagram">#}
                                {#                                        <i class="fab fa-instagram"></i>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                                {#                                <div class="col-1 px-0 mx-1">#}
                                {#                                    <a href="" target="_blank" data-toggle="tooltip" data-original-title="LinkedIn">#}
                                {#                                        <i class="fab fa-linkedin"></i>#}
                                {#                                    </a>#}
                                {#                                </div>#}
                                {#                            </div>#}
    
                            </div>
                    </div>
                </div>
                <!-- Documents Card -->
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Documents</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style="height: 12rem; overflow-y: auto">
                        <table class="table align-items-center table-flush">
                            <tbody>
                            {% for document in shared_documents %}
                                <tr>
                                    <th scope="row" class="p-2 align-items-center">
                                        <a class="align-items-center" style="display: flex"
                                           data-target="#watchDocumentModal{{ document.id }}" data-toggle="modal"
                                           href="">
                                            <img src="/static/assets/img/icons/extensions/1x/{{ document.file.name|file_extension_icon }}"
                                                 alt="{{ document.name }}" class="px-3" style="height: 18px">
                                            <span class="text-black-50">{{ document.name|truncatechars:38 }}</span>
                                        </a>
                                    </th>
                                    <td class="text-right pr-4 align-items-center">
                                        <a href="{% url 'download_collaborator_document' document.id %}">
                                            <i class="fas fa-download text-success" style="font-size: 0.7125rem"></i>
                                        </a>
                                    </td>
                                </tr>

                                <!-- Watch File Modal -->
                                <div aria-hidden="true"
                                 aria-labelledby="watchDocumentModalLabel{{ document.id }}"
                                 class="modal fade" id="watchDocumentModal{{ document.id }}"
                                 role="dialog"
                                 tabindex="-1">
                                <div class="modal-dialog my-6" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header mt-2 mb--1">
                                            <h5 class="modal-title my-1"
                                                style="margin-left: auto">
                                                <i></i>
                                            </h5>
                                            <span class="ml-3 my-1"
                                                  id="newPageModalLabel{{ document.id }}"
                                                  style="margin-right: auto; font-size: 1.2rem"></span>
                                            <button aria-label="Close" class="close mt--4"
                                                    data-dismiss="modal"
                                                    style="margin-left: -30px"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body py-0"
                                             style="padding-left: 2.5rem; padding-right: 2.5rem">
                                            <div class="form-group mt--1"
                                                 style="display: flex; justify-content: center">
                                                <img alt="New File" id="filePreviewModal{{ document.id }}"
                                                     src="/static/assets/img/icons/extensions/1x/{{ document.file.name|file_extension_icon }}"
                                                     style="height: 130px"/>
                                            </div>
                                            <div class="form-group form-control-label justify-content-center" style="display: flex">
                                                <span class="h5 mb-0 text-muted font-weight-light">
                                                    uploaded: {{ document.uploaded_by.first_name }}
                                                    {% if document.uploaded_by %}-{% endif %}
                                                    {{ document.uploaded_at|date:'d/m/Y' }}
                                                </span>
                                            </div>
                                            <div class="form-group form-control-label">
                                                <label for="fileName{{ document.id }}"
                                                       style="font-size:0.8125rem; font-weight:600">Name</label>
                                                <input class="form-control" id="fileName{{ document.id }}" disabled
                                                       type="text" value="{{ document.name }}" name="name">
                                            </div>
                                            <div class="form-group form-control-label">
                                                <label for="fileDescription{{ document.id }}"
                                                       style="font-size:0.8125rem; font-weight:600">Description</label>
                                                <textarea class="form-control" name="description" disabled
                                                          id="fileDescription{{ document.id }}">{{ document.description }}</textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal"
                                                    type="button">Cancel
                                            </button>
                                            <a class="btn btn-success" data-toggle="tooltip" data-original-title="Download"
                                               href="{% url 'download_collaborator_document' document.id %}">
                                                Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-1" style="border-top: 0 !important"></div>
                </div>
            </div>
        
            <div class="col-xl-8 order-xl-1">
                <!-- Info Cards -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card bg-gradient-default" style="height: 85%; min-width: 0">
                            <div class="card-body p-4">
                                <h5 class="card-title text-uppercase text-muted mb-0 text-white">
                                    Completed tasks
                                </h5>
                                <span class="h2 font-weight-bold mb-0 text-white">{{ completed_tasks }}/{{ user_profile.user.user_tasks.all.count }}</span>
                                <div class="progress progress-xs mt-4 mb-0 text-sm">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ completed_tasks_percentage }}"
                                         aria-valuemin="0" aria-valuemax="100" style="width: {{ completed_tasks_percentage }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card bg-gradient-blue" style="height: 85%; min-width: 0">
                            <div class="card-body p-4">
                                <h5 class="card-title text-uppercase text-muted mb-0 text-white">Completed Projects</h5>
                                <span class="h2 font-weight-bold mb-0 text-white">{{ completed_projects }}/{{ user_profile.user.assigned_projects.all.count }}</span>
                                <div class="progress progress-xs mt-4 mb-0 text-sm">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ completed_projects_percentage }}"
                                         aria-valuemin="0" aria-valuemax="100" style="width: {{ completed_projects_percentage }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Files Card -->
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Files</h3>
                            </div>
                            {#                                    <div class="col text-right">#}
                            {#                                        <a class="btn btn-sm btn-neutral" data-target="#sortModal" data-toggle="modal"#}
                            {#                                           href="#">#}
                            {#                                            <i class="fas fa-sort"></i>#}
                            {#                                        </a>#}
                            {#                                        <a class="btn btn-sm btn-neutral" data-target="#filterModal" data-toggle="modal"#}
                            {#                                           href="#">#}
                            {#                                            <i class="fas fa-filter"></i>#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                        </div>
                    </div>
                    <div class="card-body px-4 pb-4 pt-0">
                        <div class="file-list" style="height: 180px">
                            {% load filters %}
                            {% for uploaded_file in user_profile.user.uploaded_files.all %}
                                <div class="file-item mr-3" style="height: 105px">
                                    <a href="#"
                                       data-toggle="modal"
                                       data-target="#watchFileModal{{ uploaded_file.pk }}">
                                        <img src="/static/assets/img/icons/extensions/1x/{{ uploaded_file.file.name|file_extension_icon }}"
                                             alt="{{ uploaded_file.file.name }}" style="height: 105px">
                                    </a>
                                    <div style="width: 94.27px">
                                        <div style="display: flex; justify-content: center">
                                            <a href="#"
                                               data-toggle="modal"
                                               data-target="#watchFileModal">{{ uploaded_file.file|file_name_only_with_extension|truncatechars:10 }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Watch File Modal -->
                                <div class="modal fade" id="watchFileModal{{ uploaded_file.pk }}"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="watchFileModalLabel{{ uploaded_file.pk }}"
                                     aria-hidden="true">
                                    <div class="modal-dialog my-6" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header mt-2 mb--1">
                                                <h5 class="modal-title my-1"
                                                    style="margin-left: auto">
                                                    <i></i>
                                                </h5>
                                                <span class="ml-3 my-1"
                                                      style="margin-right: auto; font-size: 1.2rem"
                                                      id="newPageModalLabel"></span>
                                                <button type="button" class="close mt--4"
                                                        style="margin-left: -30px"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body py-0"
                                                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                                                <form method="post"
                                                      id="downloadFile{{ uploaded_file.pk }}"
                                                      action="">
                                                    {% csrf_token %}
                                                    <div class="form-group mt--1"
                                                         style="display: flex; justify-content: center">
                                                        <img
                                                                id="filePreviewModal"
                                                                src="/static/assets/img/icons/extensions/1x/{{ uploaded_file.file.name|file_extension_icon }}"
                                                                alt="New File"
                                                                style="height: 130px"/>
                                                    </div>
                                                    <div class="form-group form-control-label">
                                                        <label for="fileType"
                                                               style="font-size:0.8125rem; font-weight:600">Name</label>
                                                        <input type="text" class="form-control"
                                                               id="fileType"
                                                               value="{{ uploaded_file.file.name|file_name_only_with_extension }}"
                                                               disabled>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group form-control-label col-sm-4">
                                                            <label for="fileType"
                                                                   style="font-size:0.8125rem; font-weight:600">Category</label>
                                                            <input type="text" class="form-control"
                                                                   id="fileType"
                                                                   value="{{ uploaded_file.category|refformatted_category }}"
                                                                   disabled>
                                                        </div>
                                                        <div class="form-group form-control-label col-sm-4">
                                                            <label for="fileUploadDate"
                                                                   style="font-size:0.8125rem; font-weight:600">Date</label>
                                                            <input type="date" class="form-control"
                                                                   id="fileUploadDate"
                                                                   value="{{ uploaded_file.uploaded_at|date:'Y-m-d' }}"
                                                                   disabled>
                                                        </div>
                                                        <div class="form-group form-control-label col-sm-4">
                                                            <label for="fileSize"
                                                                   style="font-size:0.8125rem; font-weight:600">Size</label>
                                                            <input type="text" class="form-control" id="fileSize"
                                                                   value="{{ uploaded_file.file.size|filesizeformat }}"
                                                                   disabled>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group form-control-label col-lg-6">
                                                            <label for="fileUploadUser"
                                                                   style="font-size:0.8125rem; font-weight:600">Project</label>
                                                            <input type="text" class="form-control"
                                                                   id="fileUploadUser"
                                                                   value="{{ uploaded_file.project.title }}"
                                                                   disabled>
                                                        </div>
                                                        <div class="form-group form-control-label col-lg-6">
                                                            <label for="fileValue"
                                                                   style="font-size:0.8125rem; font-weight:600">Client</label>
                                                            <input inputmode="decimal"
                                                                   class="form-control"
                                                                   id="fileValue"
                                                                   value="{{ uploaded_file.project.client }}"
                                                                   placeholder="$ 0.00"
                                                                   disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-control-label">
                                                        <label for="fileDescription"
                                                               style="font-size:0.8125rem; font-weight:600">Description</label>
                                                        <textarea class="form-control"
                                                                  id="fileDescription"
                                                                  disabled>{{ uploaded_file.description }}</textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel
                                                </button>
                                                <button class="btn btn-danger text-white"
                                                        data-dismiss="modal" data-toggle="modal"
                                                        data-target="#deleteConfirm{{ uploaded_file.pk }}">
                                                    Delete
                                                </button>
                                                <a href="{% url 'download_file' uploaded_file.pk %}"
                                                   class="btn btn-success">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Confirm Modal -->
                                <div class="modal fade" id="deleteConfirm{{ uploaded_file.pk }}"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="deleteConfirmLabel{{ uploaded_file.pk }}"
                                     aria-hidden="true">
                                    <div class="modal-dialog my-6" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header mt-2">
                                                <h5 class="modal-title my-1"
                                                    style="margin-left: auto">
                                                    <i class="ni ni-fat-delete text-blue"
                                                       style="font-size: 1.5rem; margin-top: 0.15rem !important"></i>
                                                </h5>
                                                <span class="ml-3 my-1"
                                                      style="margin-right: auto; font-size: 1.2rem"
                                                      id="deleteConfirmModalLabel">Are you sure?</span>
                                                <button type="button" class="close mt--4"
                                                        style="margin-left: -30px"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body py-0"
                                                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                                                <form method="post"
                                                      id="deleteConfirmForm{{ uploaded_file.pk }}"
                                                      action="{% url 'delete_file_from_profile' uploaded_file.pk %}">
                                                    {% csrf_token %}
                                                    <div class="form-group mt-4"
                                                         style="display: flex; justify-content: center">
                                                        <img
                                                                id="filePreviewModal"
                                                                src="/static/assets/img/icons/extensions/1x/{{ uploaded_file.file.name|file_extension_icon }}"
                                                                alt="New File"
                                                                style="height: 130px"/>
                                                    </div>
                                                    <div class="form-group form-control-label">
                                                        <label for="fileName"
                                                               style="font-size:0.8125rem; font-weight:600">Name</label>
                                                        <input type="text" class="form-control"
                                                               id="fileUploadDate"
                                                               value="{{ uploaded_file.file|file_name_only_with_extension }}"
                                                               disabled>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancel
                                                </button>

                                                <button type="submit" class="btn btn-danger"
                                                        form="deleteConfirmForm{{ uploaded_file.pk }}">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Projects Card -->
                    <div class="col-md">
                        <div class="card shadow">
                            <div class="card-header">
                                <h3 class="mb-0 text-capitalize">Projects</h3>
                            </div>
                            <div class="card-body p-0 pb-2">
                                <ul class="list-group list-group-flush list" 
                                    style="min-height: 20.5rem; max-height: 28.5rem; overflow: auto">
                                    {% for project in projects %}
                                        <li class="list-group-item border-top-0 px-4 mx-2 py-3">
                                            <div class="row align-items-center">
                                                <div class="col-auto p-0 align-items-center" style="display: flex">
                                                    <a href="" class="avatar rounded-circle">
                                                        <img alt="" src="{{ project.img.url }}"
                                                             style="max-width: 100%; height: 100%; object-fit: cover; background-color: #fff;">
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <a href="{% url 'project_details' project.id %}" class="text-muted"><h5 class="mb-0">{{ project.title }}</h5></a>
                                                    <a href="{% url 'project_details' project.id %}" class="text-muted"><h6 class="font-weight-light">{{ project.client.name|default:project.client_str }}</h6></a>
                                                    <div class="progress progress-xs mb-0">
                                                        <div class="progress-bar {% if project.completition >= 80 and project.deadline|time_to_date > 0 %}bg-success{% elif project.completition >= 40 and project.deadline|time_to_date > 0 %}bg-info{% elif project.completition >= 10 and project.deadline|time_to_date > 0 %}bg-yellow{% else %}bg-red{% endif %}" role="progressbar"
                                                             aria-valuenow="{{ project.completition }}"
                                                             aria-valuemin="0" aria-valuemax="100"
                                                             style="width: {{ project.completition }}%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Tasks Card -->
                    <div class="col-md">
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Tasks</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 pb-2">
                                <ul class="list-group list-group-flush px-2" data-toggle="checklist" 
                                    style="min-height: 20.5rem; max-height: 28.5rem; overflow-y: auto;">
                                    {% for task in tasks %}
                                        <li class="checklist-entry list-group-item flex-column align-items-start py-3 px-3 border-top-0">
                                            <div class="checklist-item checklist-item-{% if task.priority == 1 %}success{% elif task.priority == 2 %}medium{% elif task.priority == 3 %}danger{% else %}info{% endif %} {% if task.completed %}checklist-item-checked{% endif %}">
                                                <a href="{% url 'project_details' task.project.id %}#task{{ task.id }}">
                                                    <div class="checklist-info">
                                                        <h5 class="checklist-title mb-0">{{ task.title }}</h5>
                                                        <small class="text-{% if task.priority == 1 %}success{% elif task.priority == 2 %}medium{% elif task.priority == 3 %}danger{% else %}info{% endif %}">
                                                            {% if task.priority == 1 %}Low{% elif task.priority == 2 %}
                                                                Medium{% elif task.priority == 3 %}High{% else %}
                                                                None{% endif %}</small><small
                                                            class="text-nowrap text-default">
                                                        - {{ task.deadline|date:'d/m/Y' }} {% if task.project %}
                                                        <i>({{ task.project.title }})</i>{% endif %} </small>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div class="container-fluid">
        {% include "includes/footer.html" %}
    </div>

    <!-- Profile Picture Modal -->
    <div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog"
         aria-labelledby="profilePictureModalLabel" aria-hidden="true">
        <div class="modal-dialog my-6" role="document">
            <div class="modal-content">
                <div class="modal-header mt-2">
                    <h5 class="modal-title my-1" style="margin-left: auto">
                        <i class="ni ni-image text-blue" style="font-size: 1.5rem"></i>
                    </h5>
                    <span class="ml-3 my-1" style="margin-right: auto; font-size: 1.2rem"
                          id="profilePictureModalLabel">{{ user_profile.user.first_name }}</span>
                    <button type="button" class="close mt--4" style="margin-left: -30px"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-0"
                     style="padding-left: 2.5rem; padding-right: 2.5rem">
                    <form id="profilePictureForm" method="post"
                          action="{% url 'change_profile_picture' %}"
                          enctype="multipart/form-data"
                          onsubmit="disableButtons()">
                        {% csrf_token %}
                        <div class="form-group mt-7 mb-0"
                             style="display: flex; justify-content: center">
                            <div class="avatar card-profile-image"
                                 style="z-index: 1; width: 200px; height: 200px; background-color: #adb5bd00">
                                <img
                                        id="imagePreviewModal"
                                        class="rounded-circle mt-7"
                                        style="max-width: 100%; height: 100%; object-fit: cover;"
                                        alt="Image placeholder"
                                        src="{{ user_profile.avatar.url }}">
                            </div>
                        </div>
                        <div class="form-group form-control-label">
                            <label for="fileInput">Select file</label>
                            <input type="file" class="form-control-file" id="fileInput"
                                   name="profilePicture"
                                   onchange="previewImage(event); enableButtons()">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="cancelButton">Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" form="profilePictureForm"
                            id="uploadButton" disabled>Upload
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>

        function previewImage(event) {
            const preview = document.getElementById('imagePreviewModal');
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                }

                reader.readAsDataURL(fileInput.files[0]);
            }
        }

        function enableButtons() {
            const cancelButton = document.getElementById("cancelButton");
            const uploadButton = document.getElementById("uploadButton");

            cancelButton.removeAttribute("disabled");
            uploadButton.removeAttribute("disabled");
        }

        function disableButtons() {
            const cancelButton = document.getElementById("cancelButton");
            const uploadButton = document.getElementById("uploadButton");

            cancelButton.setAttribute("disabled", "disabled");
            uploadButton.setAttribute("disabled", "disabled");
        }

    </script>
    
{% endblock javascripts %}
