{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <div class="header pb-6 d-flex align-items-center"
         style="min-height: 450px">
        <!-- Mask -->
        <span class="mask" style="background: linear-gradient(180deg, #0071c2  0, #001f36 100%) !important;"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10 ml-6">
                    <h1 class="display-2 text-white">
                        Hello!
                    </h1>
                    <h1 class="display-3 text-white">
                        {{ user_profile.user.first_name }} {{ user_profile.user.last_name }},
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made
                            with your work and manage your personal informations.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--8">
        <div class="row mb--4">

            <!-- Profile Picture Card -->
            <div class="col-xl-3 order-xl-2 mb-5">
                <div class="card card-profile">
                    <img src="/static/assets/img/theme/img-2-1200x600.webp" alt="Image placeholder" class="card-img-top">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image"
                                 style="background-color: #adb5bd00">
                                <a href="#" data-toggle="modal" data-target="#profilePictureModal">
                                    <img class="rounded-circle"
                                         style="width: 145px; height: 145px; object-fit: cover;"
                                         src="{{ user_profile.avatar.url|slice:"5:" }}">
                                </a>
                            </div>
                            <div class="modal fade" id="profilePictureModal" tabindex="-1" role="dialog"
                                 aria-labelledby="profilePictureModalLabel" aria-hidden="true">
                                <div class="modal-dialog my-6" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header mt-2">
                                            <h5 class="modal-title my-1" style="margin-left: auto">
                                                <i class="ni ni-image text-blue" style="font-size: 1.5rem"></i>
                                            </h5>
                                            <span class="ml-3 my-1" style="margin-right: auto; font-size: 1.2rem"
                                                  id="profilePictureModalLabel">{{ user_profile.user.first_name }}</span>
                                            <button type="button" class="close mt--4" style="margin-left: -30px"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body py-0"
                                             style="padding-left: 2.5rem; padding-right: 2.5rem">
                                            <form id="profilePictureForm" method="post"
                                                  action="{% url 'change_profile_picture' %}"
                                                  enctype="multipart/form-data"
                                                  onsubmit="disableButtons()">
                                                {% csrf_token %}
                                                <div class="form-group mt-7 mb-0"
                                                     style="display: flex; justify-content: center">
                                                    <div class="avatar card-profile-image"
                                                         style="z-index: 1; width: 200px; height: 200px; background-color: #adb5bd00">
                                                        <img
                                                                id="imagePreviewModal"
                                                                class="rounded-circle mt-7"
                                                                style="max-width: 100%; height: 100%; object-fit: cover;"
                                                                alt="Image placeholder"
                                                                src="{{ user_profile.avatar.url|slice:"5:" }}">
                                                    </div>
                                                </div>
                                                <div class="form-group form-control-label">
                                                    <label for="fileInput">Select file</label>
                                                    <input type="file" class="form-control-file" id="fileInput"
                                                           name="profilePicture"
                                                           onchange="previewImage(event); enableButtons()">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    id="cancelButton">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary" form="profilePictureForm"
                                                    id="uploadButton" disabled>Upload
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center pt-6 pb-0 pb-md-4">
                                    <div>
                                        <span class="heading">{{ user_files|wordcount }}</span>
                                        <span class="description">Files</span>
                                    </div>
                                    <div>
                                        <span class="heading">{{ user_projects|wordcount }}</span>
                                        <span class="description">Projects</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5 class="h3">
                                <span>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</span>
                                {#                                <span class="font-weight-300">, "{{ user_profile.birth_date }} AGE"</span>#}
                            </h5>
                            <div class="h5 font-weight-300 mt--1">
                                {% if user_profile.state != '' and user_profile.country != '' %}
                                    {{ user_profile.state }}, {{ user_profile.country }}
                                {% elif user_profile.state != '' %}
                                    {{ user_profile.state }}, "Country"
                                {% elif user_profile.country != '' %}
                                    "State", {{ user_profile.country }}
                                {% else %}
                                    "State", "Country"
                                {% endif %}
                            </div>
                            <div class="h5 mt-4">
                                {{ user_profile.user.username }}
                            </div>
                            {#                            <div class="h5 font-weight-300 mt--2">#}
                            {#                                {{ user_profile.phone }}"(00) 00000-0000"#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Profile Information Card -->
            <div class="col-xl-9 order-xl-1 mb-5">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Profile</h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="#" data-toggle="modal" data-target="#profileSettings"
                                   class="btn btn-sm btn-primary">Settings</a>
                            </div>


                            <!-- Profile Settings Modal -->
                            <div class="modal fade" id="profileSettings" tabindex="-1" role="dialog"
                                 aria-labelledby="profileSettingsLabel" aria-hidden="true">
                                <div class="modal-dialog my-6" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header mt-2">
                                            <h5 class="modal-title" style="margin-left: auto">
                                                <i class="ni ni-circle-08 text-blue pt-1"
                                                   style="font-size: 1.85rem"></i>
                                            </h5>
                                            <span class="ml-3 my-1" style="margin-right: auto; font-size: 1.2rem"
                                                  id="profileSettingsLabel">Profile</span>
                                            <button type="button" class="close mt--4" style="margin-left: -30px"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body py-0"
                                             style="padding-left: 2.5rem; padding-right: 2.5rem">
                                            <form id="profileSettingsForm" method="post" action="{% url 'profile' %}">
                                                {% csrf_token %}
                                                <div class="row mt-3">
                                                    <div class="form-group form-control-label col">
                                                        <label for="first-name">First Name</label>
                                                        <input type="text" class="form-control" id="first-name"
                                                               name="first-name"
                                                               placeholder="First name"
                                                               value="{{ user_profile.user.first_name }}">
                                                    </div>
                                                    <div class="form-group form-control-label col">
                                                        <label for="last-name">Last Name</label>
                                                        <input type="text" class="form-control" id="last-name"
                                                               name="last-name"
                                                               placeholder="Last name"
                                                               value="{{ user_profile.user.last_name }}">
                                                    </div>
                                                </div>
                                                <hr class="mt-3" style="border-top: 1"/>
                                                <div class="row">
                                                    <div class="form-group form-control-label col-lg-8">
                                                        <label for="address">Address</label>
                                                        <input type="text" class="form-control" id="address"
                                                               name="address"
                                                               placeholder="Home Address"
                                                               value="{{ user_profile.address }}">
                                                    </div>
                                                    <div class="form-group form-control-label col-lg-4">
                                                        <label for="postal-code">Postal code</label>
                                                        <input type="number" id="postal-code" name="postal-code"
                                                               class="form-control"
                                                               placeholder="Postal code"
                                                               value="{{ user_profile.postal_code }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group form-control-label col">
                                                        <label for="city">City</label>
                                                        <input type="text" class="form-control" id="city"
                                                               name="city"
                                                               placeholder="City"
                                                               value="{{ user_profile.city }}">
                                                    </div>
                                                    <div class="form-group form-control-label col">
                                                        <label for="state">State</label>
                                                        <input type="text" class="form-control" id="state"
                                                               name="state"
                                                               placeholder="State"
                                                               value="{{ user_profile.state }}">
                                                    </div>
                                                    <div class="form-group form-control-label col">
                                                        <label for="country">Country</label>
                                                        <input type="text" class="form-control" id="country"
                                                               name="country"
                                                               placeholder="Country"
                                                               value="{{ user_profile.country }}">
                                                    </div>
                                                </div>
                                                <hr class="mt-3" style="border-top: 1"/>
                                                <div class="form-group form-control-label">
                                                    <label for="about">About Me</label>
                                                    <textarea rows="4" class="form-control" id="about" name="about-user"
                                                              placeholder="A few words about you ...">{{ user_profile.about }}</textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" class="btn btn-success" id="saveButton"
                                                    form="profileSettingsForm">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="card-body" style="padding-bottom: 1rem">
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4 mt-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">First name</label>
                                        <input type="text" id="input-first-name" class="form-control"
                                               placeholder="First name" value="{{ request.user.first_name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Last name</label>
                                        <input type="text" id="input-last-name" class="form-control"
                                               placeholder="Last name" value="{{ request.user.last_name }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email" class="form-control"
                                               placeholder="Email address" value="{{ request.user.username }}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pl-lg-4 mb-5">
                            <div class="form-group">
                                <label class="form-control-label" for="about-user">About Me</label>
                                <textarea rows="4" class="form-control" id="about-user"
                                          placeholder="A few words about you ..."
                                          disabled>{{ user_profile.about }}</textarea>
                            </div>
                        </div>

                        <!--Divider -->
                        <hr class="my-4" style="border-top: 1"/>
                        <h6 class="heading-small text-muted mb-4 pb-3 mt-5">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="form-group col-lg-8">
                                    <label class="form-control-label" for="input-address">Address</label>
                                    <input id="input-address" class="form-control" placeholder="Home Address"
                                           value="{{ user_profile.address }}" type="text" disabled>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="form-control-label" for="input-country">Postal code</label>
                                    <input type="number" id="input-postal-code" class="form-control"
                                           placeholder="Postal code" value="{{ user_profile.postal_code }}"
                                           disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-city">City</label>
                                        <input type="text" id="input-city" class="form-control" placeholder="City"
                                               value="{{ user_profile.city }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-state">State</label>
                                        <input type="text" id="input-state" class="form-control"
                                               placeholder="State" value="{{ user_profile.state }}" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-country">Country</label>
                                        <input type="text" id="input-country" class="form-control"
                                               placeholder="Country" value="{{ user_profile.country }}"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" style="border-top: 0"/>
                    </div>
                </div>
            </div>

        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>

        function previewImage(event) {
            const preview = document.getElementById('imagePreviewModal');
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                }

                reader.readAsDataURL(fileInput.files[0]);
            }
        }

        function enableButtons() {
            const cancelButton = document.getElementById("cancelButton");
            const uploadButton = document.getElementById("uploadButton");

            cancelButton.removeAttribute("disabled");
            uploadButton.removeAttribute("disabled");
        }

        function disableButtons() {
            const cancelButton = document.getElementById("cancelButton");
            const uploadButton = document.getElementById("uploadButton");

            cancelButton.setAttribute("disabled", "disabled");
            uploadButton.setAttribute("disabled", "disabled");
        }

    </script>

{% endblock javascripts %}
