{% extends 'layouts/base.html' %}

{% block title %} {{ office.name }} {% endblock title %}

{% block stylesheets %}

    <style>
        .pointer-hover:hover {
            cursor: pointer;
        }
    </style>

{% endblock stylesheets %}

{% block content %}

{% load filters %}

<!-- Header container -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="{% url 'offices_home' %}">Offices</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="{% url 'office_details' office.slug %}">{{ office.name|default:office.slug|truncatechars:20 }}</a>
                            </li>
                            <li class="breadcrumb-item active">Documents</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6" style="min-height: calc(100vh - 274px)">

    <!-- Office Infos Row -->
    <div class="row">
    
        <!-- Office Title Column -->
        <div class="col-lg-7">
            <div class="card card-stats" style="height: calc(100% - 30px)">
                <div class="card-body align-items-center py-5 py-lg-4" style="display: flex">
                    <div class="row px-md-4">
                        <div class="col-md-auto align-items-center mb-md-0 mb-3 justify-content-center" style="display: flex;">
                            <a href="#" data-toggle="modal" data-target="#pictureModal">
                                <img class="rounded-circle"
                                     style="width: 100px; height: 100px; object-fit: cover; background-color: #fff; z-index: 1"
                                     src="{{ office.avatar.url }}" alt="{{ office.name }}">
                            </a>
                        </div>
                        <div class="col-md align-items-center" style="display: flex;">
                            <div class="pl-2 row">
                                <span class="h3 p-0 m-0 pl-4">
                                    <span>{{ office.name }}</span>
                                    <small class="d-block h5 font-weight-light text-muted">{{ office.cnpj|default:'00.000.000/0001-00' }}</small>
                                    {% if office.location %}
                                        <div class="h5 font-weight-normal">
                                            <i class="fas fa-map-marker-alt mr-1" style="font-size: 0.7rem"></i>
                                            {{ office.location }}
                                        </div>
                                    {% endif %}
                                    {% if office.description %}
                                        <div class="h5 font-weight-500">
                                            <i>" {{ office.description }} "</i>
                                        </div>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Office DRE's Column -->
        <div class="col-lg-5">
            <div class="card" style="height: calc(100% - 30px)">
                <div class="card-body p-4 ml-2">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">DRE Reports</h5>
                            <span class="h2 font-weight-bold mb-0">0</span>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-sm btn-neutral mr-0" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#newPageModal">
                                    New
                                </a>
                                <hr class="my-1">
                                <a class="dropdown-item"
                                   href="">
                                    See all
                                </a>
                            </div>
                        </div>
                    </div>
                    <small class="bottom-4" style="position: absolute">
                        <span class="text-nowrap pr-1">0</span>
                        <span class="text-nowrap font-weight-light">Annually</span>
                        <br>
                        <span class="text-nowrap pr-1">0</span>
                        <span class="text-nowrap font-weight-light">Monthly</span>
                    </small>
                </div>
            </div>
        </div>
    
    </div>

    <!-- Documents Card -->
    <div class="row">
        {% if perms.home.view_document %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Documents</h3>
                            </div>
                            <div class="col text-right">
                                <a class="btn btn-sm {% if sorted_by is None %}btn-neutral{% else %}btn-primary{% endif %}"
                                   data-target="#sortDocumentModal" data-toggle="modal" href="#">
                                    {% if sort_type == 'desc' %}
                                        <i class="fas fa-caret-down mr-0"></i>{% elif sort_type == 'asc' %}
                                        <i class="fas fa-caret-up mr-0"></i>{% endif %}
                                    {% if sorted_by is not None %}
                                        <span>{{ sorted_by|capfirst }}</span>{% else %}
                                        <i class="fas fa-sort"></i>{% endif %}
                                </a>
                                <a class="btn btn-sm {% if filters is None %}btn-neutral{% else %}btn-primary{% endif %}"
                                   data-target="#filterDocumentModal" data-toggle="modal" href="#">
                                    <i class="fas fa-filter {% if filters is None %}{% else %}mr-0{% endif %}"></i>
                                    {% if filters is not None %}
                                        {% load filters %}
                                        {% with filters_list=filters|split:'&' %}
                                            {% if filters|both_from_to %}
                                                <span>Date</span>
                                            {% endif %}
                                            {% for filter_item in filters_list %}
                                                {% if 'from=' in filter_item or 'to=' in filter_item %}
                                                    {% if filters|xor_from_to %}
                                                        <span>Date</span>
                                                    {% endif %}
                                                {% elif 'category=' in filter_item %}
                                                    <span>
                                                        {% if not filters|first_filter:'category' %} | {% endif %}
                                                        Category
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                    {% endif %}
                                </a>
                                <a class="btn btn-sm btn-neutral" data-target="#newDocumentModal"
                                   data-toggle="modal"
                                   href="#">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style="height: 28rem; overflow-y: auto">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" style="width: 0"></th>
                                <th scope="col" class="py-2 pl-0" style="width: 50%">Name
                                    {% if sorted_by == 'name' and sort_type == 'desc' %}
                                        <i class="fas fa-caret-down ml-1"></i>
                                    {% elif sorted_by == 'name' and sort_type == 'asc' %}
                                        <i class="fas fa-caret-up ml-1"></i>
                                    {% endif %}
                                </th>
                                <th scope="col" class="py-2" style="width: 25%">Category
                                    {% if sorted_by == 'category' and sort_type == 'desc' %}
                                        <i class="fas fa-caret-down ml-1"></i>
                                    {% elif sorted_by == 'category' and sort_type == 'asc' %}
                                        <i class="fas fa-caret-up ml-1"></i>
                                    {% endif %}
                                </th>
                                <th scope="col" class="py-2" style="width: 0">Expiration
                                    {% if sorted_by == 'expiration' and sort_type == 'desc' %}
                                        <i class="fas fa-caret-down ml-1"></i>
                                    {% elif sorted_by == 'expiration' and sort_type == 'asc' %}
                                        <i class="fas fa-caret-up ml-1"></i>
                                    {% endif %}
                                </th>
                                <th scope="col" style="width: 0"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for document in documents %}
                                <tr>
                                    <th scope="row" class="py-2 px-3">
                                        <a class="align-items-center" style="display: flex"
                                           data-target="#watchDocumentModal{{ document.id }}" data-toggle="modal"
                                           href="#">
                                            <img src="/static/assets/img/icons/extensions/1x/{{ document.file.name|file_extension_icon }}"
                                                 alt="{{ document.name }}" style="height: 18px">
                                        </a>
                                    </th>
                                    <th scope="row" class="py-2 pl-0">
                                        <a class="align-items-center" style="display: flex"
                                           data-target="#watchDocumentModal{{ document.id }}" data-toggle="modal"
                                           href="#">
                                            <span class="text-black-50">{{ document.name|truncatechars:44 }}</span>
                                        </a>
                                    </th>
                                    <td>{{ document.category|default:'-' }}</td>
                                    {% if document.expiration %}
                                        <td class="py-2">
                                            <span>{{ document.expiration|date:'d/m/Y' }}</span>
                                            <br>
                                        {% if document.expired %}
                                            <span class="text-danger">({{ document.expiration|time_to_date|absolute }} days expired)</span>
                                        {% elif document.expiration|time_to_date <= 30 %}
                                            <span class="text-warning">({{ document.expiration|time_to_date }} days to expire)</span>
                                        {% else %}
                                            <span class="text-muted">({{ document.expiration|time_to_date }} days to expire)</span>
                                        {% endif %}
                                        </td>
                                    {% else %}
                                        <td class="py-2">-</td>
                                    {% endif %}
                                    <td class="text-right p-2">
                                        <div class="dropdown">
                                            <a aria-expanded="false" aria-haspopup="true"
                                               class="btn btn-sm btn-icon-only text-light"
                                               data-toggle="dropdown" href="#" role="button">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item"
                                                   data-target="#watchDocumentModal{{ document.id }}"
                                                   data-toggle="modal"
                                                   href="#">Open</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item text-success"
                                                   href="{% url 'office_download_document' office.slug document.id %}">
                                                    Download
                                                </a>
                                                <a class="dropdown-item text-danger"
                                                   data-target="#deleteConfirmDocument{{ document.id }}"
                                                   data-toggle="modal"
                                                   href="#">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Watch File Modal -->
                                <div aria-hidden="true"
                                     aria-labelledby="watchDocumentModalLabel{{ document.id }}"
                                     class="modal fade" id="watchDocumentModal{{ document.id }}"
                                     role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header mt-2 mb--1">
                                                <h5 class="modal-title my-1"
                                                    style="margin-left: auto">
                                                    <i></i>
                                                </h5>
                                                <span class="ml-3 my-1"
                                                      id="newPageModalLabel{{ document.id }}"
                                                      style="margin-right: auto; font-size: 1.2rem"></span>
                                                <button aria-label="Close" class="close mt--4"
                                                        data-dismiss="modal"
                                                        style="margin-left: -30px"
                                                        type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body py-0"
                                                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                                                <form action="{% url 'office_edit_document' office.slug document.id %}"
                                                      id="editFile{{ document.id }}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    {% load filters %}
                                                    <input type="hidden" name="redirect_to" value="office_documents">
                                                    <input type="hidden" value="{{ sorted_by }}" name="sort_by">
                                                    <input type="hidden" value="{{ sort_type }}" name="sort_type">
                                                    <input type="hidden" value="{{ filters }}" name="filters">
                                                    <div class="form-group mt--1"
                                                         style="display: flex; justify-content: center">
                                                        <img alt="New File" id="filePreviewModal{{ document.id }}"
                                                             src="/static/assets/img/icons/extensions/1x/{{ document.file.name|file_extension_icon }}"
                                                             style="height: 130px"/>
                                                    </div>
                                                    <div class="justify-content-center d-flex">
                                                        <span class="h5 mb-0 text-muted font-weight-light text-center">
                                                            {% if 'default' in document.file.name|file_extension_icon %}
                                                                {{ document.file.name|file_name_only_with_extension }}
                                                            {% else %}
                                                                {{ document.file.name|file_name_only }}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="form-group form-control-label justify-content-center" style="display: flex">
                                                        <span class="h5 mb-0 text-muted font-weight-light text-center">
                                                            uploaded: {{ document.uploaded_by.first_name }}
                                                            {% if document.uploaded_by %}-{% endif %}
                                                            {{ document.uploaded_at|date:'d/m/Y' }}
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm form-group form-control-label">
                                                            <label for="fileName{{ document.id }}"
                                                                   style="font-size:0.8125rem; font-weight:600">Name</label>
                                                            <input class="form-control" id="fileName{{ document.id }}"
                                                                   type="text" value="{{ document.name }}" name="name">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm form-group form-control-label col">
                                                            <label for="fileUploadUser{{ document.id }}"
                                                                   style="font-size:0.8125rem; font-weight:600">Category</label>
                                                            <select class="form-control" name="category"
                                                                    id="fileUploadUser{{ document.id }}">
                                                                <option value=""></option>
                                                                <option value="Invoice" {% if document.category == 'Invoice' %}selected{% endif %}>Invoice</option>
                                                                <option value="Lending contract" {% if document.category == 'Lending contract' %}selected{% endif %}>Lending contract</option>
                                                                <option value="Lending invoice" {% if document.category == 'Lending invoice' %}selected{% endif %}>Lending invoice</option>
                                                                <option value="Receipt" {% if document.category == 'Receipt' %}selected{% endif %}>Receipt</option>
                                                                <option value="Sales invoice" {% if document.category == 'Sales invoice' %}selected{% endif %}>Sales invoice</option>
                                                                <option value="Service contract" {% if document.category == 'Service contract' %}selected{% endif %}>Service contract</option>
                                                                <option value="Service invoice" {% if document.category == 'Service invoice' %}selected{% endif %}>Service invoice</option>
                                                                <option value="Others" {% if document.category == 'Others' %}selected{% endif %}>Others</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-5 form-group form-control-label">
                                                            <label for="fileType{{ document.id }}"
                                                                   style="font-size:0.8125rem; font-weight:600">Expiration</label>
                                                            <input class="form-control" id="fileType{{ document.id }}"
                                                                   type="date" name="expiration"
                                                                   value="{{ document.expiration|date:'Y-m-d' }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-control-label">
                                                        <label for="fileDescription{{ document.id }}"
                                                               style="font-size:0.8125rem; font-weight:600">Description</label>
                                                        <textarea class="form-control" name="description"
                                                                  id="fileDescription{{ document.id }}">{{ document.description }}</textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">Cancel
                                                </button>
                                                <button class="btn btn-danger text-white"
                                                        data-dismiss="modal"
                                                        data-target="#deleteConfirmDocument{{ document.id }}"
                                                        data-toggle="modal">
                                                    Delete
                                                </button>
                                                <a class="btn btn-success"
                                                   href="{% url 'office_download_document' office.slug document.id %}">Download</a>
                                                <button class="btn btn-primary text-white"
                                                        type="submit"
                                                        form="editFile{{ document.id }}">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Delete Confirm Modal -->
                                <div aria-hidden="true"
                                     aria-labelledby="deleteConfirmDocumentLabel{{ document.id }}"
                                     class="modal fade" id="deleteConfirmDocument{{ document.id }}"
                                     role="dialog"
                                     tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header mt-2">
                                                <h5 class="modal-title my-1"
                                                    style="margin-left: auto">
                                                    <i class="ni ni-fat-delete text-blue"
                                                       style="font-size: 1.5rem; margin-top: 0.15rem !important"></i>
                                                </h5>
                                                <span class="ml-3 my-1"
                                                      id="deleteConfirmModalLabel"
                                                      style="margin-right: auto; font-size: 1.2rem">Are you sure?</span>
                                                <button aria-label="Close" class="close mt--4"
                                                        data-dismiss="modal"
                                                        style="margin-left: -30px"
                                                        type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body py-0"
                                                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                                                <form action="{% url 'office_delete_document' office.slug document.id %}"
                                                      id="deleteConfirmDocumentForm{{ document.id }}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="redirect_to" value="office_documents">
                                                    <input type="hidden" value="{{ sorted_by }}" name="sort_by">
                                                    <input type="hidden" value="{{ sort_type }}" name="sort_type">
                                                    <input type="hidden" value="{{ filters }}" name="filters">
                                                    <div class="form-group mt-4"
                                                         style="display: flex; justify-content: center">
                                                        <img alt="New File" id="filePreviewModal" style="height: 130px"
                                                             src="/static/assets/img/icons/extensions/1x/{{ document.file.name|file_extension_icon }}"
                                                        />
                                                    </div>
                                                    <div class="justify-content-center d-flex">
                                                        <span class="h5 mb-0 text-muted font-weight-light text-center">
                                                            {% if 'default' in document.file.name|file_extension_icon %}
                                                                {{ document.file.name|file_name_only_with_extension }}
                                                            {% else %}
                                                                {{ document.file.name|file_name_only }}
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="form-group form-control-label justify-content-center" style="display: flex">
                                                        <span class="h5 mb-0 text-muted font-weight-light text-center">
                                                            uploaded: {{ document.uploaded_by.first_name }}
                                                            {% if document.uploaded_by %}-{% endif %}
                                                            {{ document.uploaded_at|date:'d/m/Y' }}
                                                        </span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-7 form-group form-control-label">
                                                            <label for="fileName{{ document.id }}"
                                                                   style="font-size:0.8125rem; font-weight:600">Name</label>
                                                            <input class="form-control" disabled
                                                                   id="fileName{{ document.id }}"
                                                                   type="text"
                                                                   value="{{ document.name|file_name_only_with_extension }}">
                                                        </div>
                                                        <div class="col-sm-5 form-group form-control-label">
                                                            <label for="fileExpiration{{ document.id }}"
                                                                   style="font-size:0.8125rem; font-weight:600">Expiration</label>
                                                            <input class="form-control" disabled
                                                                   id="fileExpiration{{ document.id }}"
                                                                   type="text"
                                                                   value="{{ document.expiration|date:'d/m/Y' }}">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        type="button">Cancel
                                                </button>
                                                <button class="btn btn-danger"
                                                        form="deleteConfirmDocumentForm{{ document.id }}"
                                                        type="submit">Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-1" style="border-top: 0 !important"></div>
                </div>
            </div>
        {% endif %}
    </div>

</div>
    
<!-- Footer -->
<div class="container-fluid">
    {% include "includes/footer.html" %}
</div>

<!-- New Document Modal -->
<div aria-hidden="true" aria-labelledby="newDocumentModalLabel" class="modal fade" id="newDocumentModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mt-2">
                <button aria-label="Close" class="close mt--4 ml-auto" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0"
                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                <form action="{% url 'office_new_document' office.slug %}" 
                      enctype="multipart/form-data" id="uploadDocument"
                      method="post" onsubmit="disableButtonsFile()">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_to" value="office_documents">
                    <input type="hidden" value="{{ sorted_by }}" name="sort_by">
                    <input type="hidden" value="{{ sort_type }}" name="sort_type">
                    <input type="hidden" value="{{ filters }}" name="filters">
                    <div class="form-group form-control-label mb-2">
                        <input type="file" id="documentInput" style="display: none"
                               onchange="previewExtension(event); updateCategory(event)"
                               required="" autofocus="" name="file">
                        <label for="documentInput" class="justify-content-center d-flex">
                            <img alt="New File"
                                 class="pointer-hover"
                                 id="filePreviewModalImage"
                                 src="/static/assets/img/icons/extensions/1x/new.png"
                                 style="height: 130px"/>
                        </label>
                    </div>
                    <div class="form-group form-control-label justify-content-center text-center" style="display: flex">
                        <span class="h5 mb-0 text-muted font-weight-light" id="fileNamePlaceholder">
                            <i>No file selected</i>
                        </span>
                    </div>
                    <div class="form-group form-control-label">
                        <label for="documentNameInput">Name</label>
                        <input class="form-control" id="documentNameInput"
                               name="name"
                               placeholder="" type="text">
                    </div>
                    <div class="row">
                        <div class="col-sm form-group form-control-label">
                            <label for="documentCategoryInput">Category</label>
                            <select class="form-control" id="documentCategoryInput" name="category">
                                <option value=""></option>
                                <option value="Invoice">Invoice</option>
                                <option value="Lending contract">Lending contract</option>
                                <option value="Lending invoice">Lending invoice</option>
                                <option value="Receipt">Receipt</option>
                                <option value="Sales invoice">Sales invoice</option>
                                <option value="Service contract">Service contract</option>
                                <option value="Service invoice">Service invoice</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="col-sm-5 form-group form-control-label mb-3">
                            <label for="expiration">Expiration</label>
                            <input class="form-control" id="expiration" name="expiration" type="date">
                        </div>
                    </div>
                    <div class="form-group mb-2 form-control-label">
                        <label for="documentDescription">Description</label>
                        <textarea class="form-control"
                                  id="documentDescription"
                                  name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" form="uploadDocument"
                        id="cancelButtonFile" type="button">
                    Cancel
                </button>
                <button class="btn btn-primary" form="uploadDocument" id="uploadButtonFile"
                        type="submit">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>
    
<!-- Filter Documents Modal -->
<div aria-hidden="true" aria-labelledby="filterDocumentModalLabel" class="modal fade" id="filterDocumentModal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mt-2 align-items-center">
                <h5 class="modal-title my-1" style="margin-left: auto">
                    <i class="ni ni-ui-04 text-blue"
                       style="font-size: 1.5rem; margin-top: 0.15rem !important"></i>
                </h5>
                <span class="ml-3 my-1"
                      id="filterDocumentModalLabel"
                      style="margin-right: auto; font-size: 1.2rem">Filter</span>
                <button aria-label="Close" class="close mt--4" data-dismiss="modal"
                        style="margin-left: -30px" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0"
                 style="padding-left: 2.5rem; padding-right: 2.5rem">
                <form action="{% url 'filter_office_documents' office.slug %}" enctype="multipart/form-data"
                      id="filterDocument"
                      method="post" onsubmit="disableButtonsFile()">
                    {% csrf_token %}
                    <input type="hidden" value="{{ sorted_by }}" name="sort_by">
                    <input type="hidden" value="{{ sort_type }}" name="sort_type">
                    <div class="row">
                        <div class="col-sm form-group form-control-label">
                            <label for="documentCategoryInput">Category</label>
                            <select class="form-control" id="documentCategoryInput" name="category">
                                <option value="all"></option>
                                <option value="Invoice" {% if filters|extract_from_key:'category' == 'Invoice' %}selected{% endif %}>Invoice</option>
                                <option value="Lending contract" {% if filters|extract_from_key:'category' == 'Lending contract' %}selected{% endif %}>Lending contract</option>
                                <option value="Lending invoice" {% if filters|extract_from_key:'category' == 'Lending invoice' %}selected{% endif %}>Lending invoice</option>
                                <option value="Receipt" {% if filters|extract_from_key:'category' == 'Receipt' %}selected{% endif %}>Receipt</option>
                                <option value="Sales invoice" {% if filters|extract_from_key:'category' == 'Sales invoice' %}selected{% endif %}>Sales invoice</option>
                                <option value="Service contract" {% if filters|extract_from_key:'category' == 'Service contract' %}selected{% endif %}>Service contract</option>
                                <option value="Service invoice" {% if filters|extract_from_key:'category' == 'Service invoice' %}selected{% endif %}>Service invoice</option>
                                <option value="Others" {% if filters|extract_from_key:'category' == 'Others' %}selected{% endif %}>Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group form-control-label">
                            <label for="from-date">From</label>
                            <input class="form-control" id="from-date" name="from" autofocus="" type="date"
                                   value="{% if 'from=' in filters %}{{ filters|extract_from_key:'from' }}{% endif %}">
                        </div>
                        <div class="col form-group form-control-label">
                            <label for="to-date">To</label>
                            <input class="form-control" id="to-date" name="to" autofocus="" type="date"
                                   value="{% if 'to=' in filters %}{{ filters|extract_from_key:'to' }}{% endif %}">
                        </div>
                    </div>
                </form>
                <form action="{% url 'sort_office_documents' office.slug %}" method="post" id="unfilterForm">
                    {% csrf_token %}
                    <input type="hidden" value="{{ sorted_by }}" name="sort_by">
                    {% if sort_type == 'asc' %}
                        <input type="hidden" value="True" name="asc">
                    {% elif sort_type == 'desc' %}
                        <input type="hidden" value="True" name="desc">
                    {% endif %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" form="uploadDocument"
                        id="cancelButtonFile" type="button">
                    Cancel
                </button>
                {% if filters and sorted_by %}
                    <button type="submit" class="btn btn-danger" id="filterButton" form="unfilterForm">
                        Unfilter
                    </button>
                {% elif filters %}
                    <a href="{% url 'office_documents' office.slug %}" class="btn btn-danger">
                        Unfilter
                    </a>
                {% endif %}
                <button class="btn btn-primary" form="filterDocument" id="uploadButtonFile"
                        type="submit">
                    Filter
                </button>
            </div>
        </div>
    </div>
</div>
    
<!-- Sort Documents Modal -->
<div class="modal fade" id="sortDocumentModal" tabindex="-1" role="dialog"
     aria-labelledby="sortDocumentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mt-2 align-items-center">
                <h5 class="modal-title" style="margin-left: auto">
                    <i class="ni ni-bullet-list-67 text-blue" style="font-size: 1.4rem"></i>
                </h5>
                <span class="ml-3 my-1" style="margin-right: auto; font-size: 1.2rem"
                      id="sortDocumentModalLabel">Sort</span>
                <button type="button" class="close mt--4" style="margin-left: -30px"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0" style="padding-left: 2.5rem; padding-right: 2.5rem">
                <form id="sortForm" method="post" action="{% url 'sort_office_documents' office.slug %}">
                    {% csrf_token %}
                    <input type="hidden" name="filters" value="{{ filters }}">
                    <label class="form-control-label" for="sortByModalInput">Data</label>
                    <div class="row">
                        <div class="col-8 form-group form-control-label">
                            <select class="form-control" id="sortByModalInput" name="sort_by"
                                    onchange="clearChks(this)">
                                <option value=""></option>
                                <option value="category" {% if sorted_by == 'category' %} selected {% endif %}>
                                    Category
                                </option>
                                <option value="expiration" {% if sorted_by == 'expiration' %} selected {% endif %}>
                                    Expiration
                                </option>
                                <option value="name" {% if sorted_by == 'name' %} selected {% endif %}>
                                    Name
                                </option>
                            </select>
                        </div>
                        <div class="col-4 form-group align-items-center" style="display: flex">
                            <div class="custom-control custom-checkbox custom-checkbox-primary mr-4">
                                <input class="custom-control-input" id="chk-asc" type="checkbox" name="asc"
                                        {% if sort_type == 'asc' %} checked {% endif %}
                                       onclick="changeAscDesc(event)">
                                <label class="custom-control-label" for="chk-asc">ASC</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-checkbox-primary">
                                <input class="custom-control-input" id="chk-desc" type="checkbox" name="desc"
                                        {% if sort_type == 'desc' %} checked {% endif %}
                                       onclick="changeAscDesc(event)">
                                <label class="custom-control-label" for="chk-desc">DESC</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer  pt-1">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="sortButton" form="sortForm">
                    Sort
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script>

        function previewExtension(event) {
            const preview = document.getElementById('filePreviewModalImage');
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const file = fileInput.files[0];
                const extension = file.name.split('.').pop().toLowerCase();

                // Define a mapping of file extensions to image URLs
                const extensionImageMap = {
                    'rvt': '/static/assets/img/icons/extensions/1x/rvt.png',
                    'stp': '/static/assets/img/icons/extensions/1x/stp.png',
                    'igs': '/static/assets/img/icons/extensions/1x/igs.png',
                    'ifc': '/static/assets/img/icons/extensions/1x/ifc.png',
                    'sat': '/static/assets/img/icons/extensions/1x/sat.png',
                    'dxf': '/static/assets/img/icons/extensions/1x/dxf.png',
                    'dwg': '/static/assets/img/icons/extensions/1x/dwg.png',
                    'prt': '/static/assets/img/icons/extensions/1x/prt.png',
                    'catpart': '/static/assets/img/icons/extensions/1x/catpart.png',
                    'catproduct': '/static/assets/img/icons/extensions/1x/catproduct.png',
                    'cgr': '/static/assets/img/icons/extensions/1x/cgr.png',
                    'obj': '/static/assets/img/icons/extensions/1x/obj.png',
                    'stl': '/static/assets/img/icons/extensions/1x/stl.png',
                    'jt': '/static/assets/img/icons/extensions/1x/jt.png',
                    'dgn': '/static/assets/img/icons/extensions/1x/dgn.png',
                    'fbx': '/static/assets/img/icons/extensions/1x/fbx.png',
                    'sldprt': '/static/assets/img/icons/extensions/1x/sldprt.png',
                    'sldasm': '/static/assets/img/icons/extensions/1x/sldasm.png',
                    'rcp': '/static/assets/img/icons/extensions/1x/rcp.png',
                    'rcs': '/static/assets/img/icons/extensions/1x/rcs.png',
                    'pod': '/static/assets/img/icons/extensions/1x/pod.png',
                    'fls': '/static/assets/img/icons/extensions/1x/fls.png',
                    'las': '/static/assets/img/icons/extensions/1x/las.png',
                    'e57': '/static/assets/img/icons/extensions/1x/e57.png',
                    'py': '/static/assets/img/icons/extensions/1x/py.png',
                    'html': '/static/assets/img/icons/extensions/1x/html.png',
                    'css': '/static/assets/img/icons/extensions/1x/css.png',
                    'js': '/static/assets/img/icons/extensions/1x/js.png',
                    'cs': '/static/assets/img/icons/extensions/1x/cs.png',
                    'c': '/static/assets/img/icons/extensions/1x/c.png',
                    'cpp': '/static/assets/img/icons/extensions/1x/cpp.png',
                    'json': '/static/assets/img/icons/extensions/1x/json.png',
                    'xml': '/static/assets/img/icons/extensions/1x/xml.png',
                    'kt': '/static/assets/img/icons/extensions/1x/kt.png',
                    'kts': '/static/assets/img/icons/extensions/1x/kts.png',
                    'exe': '/static/assets/img/icons/extensions/1x/exe.png',
                    'zip': '/static/assets/img/icons/extensions/1x/zip.png',
                    'rar': '/static/assets/img/icons/extensions/1x/rar.png',
                    'assets': '/static/assets/img/icons/extensions/1x/assets.png',
                    'asset': '/static/assets/img/icons/extensions/1x/assets.png',
                    'ress': '/static/assets/img/icons/extensions/1x/ress.png',
                    'sqlite3': '/static/assets/img/icons/extensions/1x/sqlite3.png',
                    'xlsx': '/static/assets/img/icons/extensions/1x/xlsx.png',
                    'docx': '/static/assets/img/icons/extensions/1x/docx.png',
                    'pptx': '/static/assets/img/icons/extensions/1x/pptx.png',
                    'pdf': '/static/assets/img/icons/extensions/1x/pdf.png',
                    'ai': '/static/assets/img/icons/extensions/1x/ai.png',
                    'jpg': '/static/assets/img/icons/extensions/1x/jpg.png',
                    'jpeg': '/static/assets/img/icons/extensions/1x/jpeg.png',
                    'png': '/static/assets/img/icons/extensions/1x/png.png',
                    'gif': '/static/assets/img/icons/extensions/1x/gif.png',
                    'webp': '/static/assets/img/icons/extensions/1x/webp.png',
                    'ico': '/static/assets/img/icons/extensions/1x/ico.png',
                    'mp4': '/static/assets/img/icons/extensions/1x/mp4.png',
                    'avi': '/static/assets/img/icons/extensions/1x/avi.png',
                    'mkv': '/static/assets/img/icons/extensions/1x/mkv.png',
                    'wmv': '/static/assets/img/icons/extensions/1x/wmv.png',
                    'txt': '/static/assets/img/icons/extensions/1x/txt.png',
                    'x_t': '/static/assets/img/icons/extensions/1x/x_t.png',
                    'x_b': '/static/assets/img/icons/extensions/1x/x_b.png',
                    'apk': '/static/assets/img/icons/extensions/1x/apk.png',
                    // Add more extensions and URLs as needed
                };

                // Check if there's a corresponding image URL for the extension
                if (extensionImageMap[extension]) {
                    preview.src = extensionImageMap[extension];
                } else {
                    // If no specific image found, display a default image
                    preview.src = '/static/assets/img/icons/extensions/1x/default.png';
                }
            }
        }

        function submitCheckboxForm(form) {
            document.getElementById(form).submit();
        }

        function changeAscDesc(event) {
            let chkAsc = document.getElementById("chk-asc");
            let chkDesc = document.getElementById("chk-desc");

            if (event.target.id === "chk-asc" && chkAsc.checked) {
                chkDesc.checked = false;
            } else if (event.target.id === "chk-desc" && chkDesc.checked) {
                chkAsc.checked = false;
            }
        }

        function clearChks(selectObject) {
            let chkAsc = document.getElementById("chk-asc");
            let chkDesc = document.getElementById("chk-desc");
            let optionValue = selectObject.value

            if (optionValue === '') {
                chkAsc.checked = false;
                chkDesc.checked = false;
            } else if (chkAsc.checked === false && chkDesc.checked === false) {
                chkDesc.checked = true;
            }
        }
        
        function copyToClipboard(element, link) {
            navigator.clipboard.writeText(element).then(function () {
                // Update the tooltip title using Bootstrap Tooltip method
                $(link).attr('data-original-title', 'Copied!').tooltip('show');
            }).catch(function (err) {
                console.error('Unable to copy to clipboard', err);
            });
        }
        
        function clearTitle(element, link) {
            $(link).attr('data-original-title', element).tooltip('hide');
        }

        function updateFileName(event) {
            const fileInput = event.target;
            const fileNamePlaceholder = document.getElementById('fileNamePlaceholder');

            if (fileInput.files.length > 0) {
                fileNamePlaceholder.textContent = fileInput.files[0].name;
            } else {
                fileNamePlaceholder.textContent = '{#  FILE NAME  #}';
            }
        }

        document.getElementById('documentInput').addEventListener('change', updateFileName);
        
        document.addEventListener("DOMContentLoaded", function() {
            let docId = window.location.hash.substring(1).slice(3, window.location.hash.length);
            
            if (docId) {
                const modal = document.getElementById('watchDocumentModal' + docId);
                let bsModal = new bootstrap.Modal(modal);
                bsModal.show();
            }
        });
        
    </script>
    
{% endblock javascripts %}
